<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .body{
            width: 80%;
            height: 100%;
            border: 3px solid black;
            border-inline-style: solid;
             margin-left: auto;
             margin-right: auto;
             padding: 20px 20px 20px 20px;
             margin: 20px auto 20px auto;
        }
        table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
}
    </style>
</head>
<body>
<div align="right">
    <a th:href="@{/}">
        <button type="button" >Home</button>
    </a>
</div>

<a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
   th:href="${urlBuilder.replaceQueryParam('order', 'asc').toUriString()}">
    <button type="button" >older first</button>
</a>
<a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
   th:href="${urlBuilder.replaceQueryParam('order', 'desc').toUriString()}">
    <button type="button" >latest first</button>
</a>

<div align="right"  th:if="${username}">
    <div >
        <a th:href="@{/create}">
            <button type="button">Create new Post</button>
        </a>
    </div>
</div>
<div >
    <div align="right">
        <a th:href="@{/login}">
            <button type="button"  th:text="Login">Login</button>
        </a>
    </div>
</div>
<br>
<div >
    <div align="right">
        <a th:href="@{/register}">
            <button type="button"  th:text="Register">Register</button>
        </a>
    </div>
</div>

<form th:action="@{/search}">
    <input type="text" th:name="search"/>
    <input type="submit" value="search"/>
</form>
  <div class="body" align="center"  th:each="post : ${posts}">
      <div>
         <h1 th:text="${post.title}" >Title</h1>
         <div th:text="'Created At: ' + ${#dates.format(post.createdAt, 'dd-MMM-yyyy HH:mm')}"></div>
          <div><a th:text="'by ' + ${post.author}"></a></div>
           <div align="justify">
               <h5 th:text="${post.excerpt}">Body</h5>
           </div>
          <div>
              <table border="1">
                  <thead>
                  <tr>
                      <th> Tags </th>
                  </tr>
                  </thead>
                  <tbody>

                  </tr>
                  <tr th:each="tag : ${post.tags}">
                      <td><span th:text="${tag.name}"> </span></td>
                  </tr>
                  </tbody>
              </table>
          </div>

          <br></br>
          <a th:href="@{'/post/' + ${post.id}}">
              <button type="button" th:text="Read">Read</button>
          </a>
     </div>
  </div>

<form th:action="@{/filter}">
    <select th:name="author" multiple>
        <option th:each="i : ${authors}" th:value="${i}" th:text="${i}"></option>
    </select>
    <select th:name="tags" multiple>
        <option th:each="i : ${tags}" th:value="${i}" th:text="${i}"></option>
    </select>
    <select th:name="publishedAt" multiple>
        <option th:each="i : ${publishedAt}" th:value="${i}" th:text="${i}"></option>
    </select>
    <select>
        <div th:if="*{search}">
            <input type="hidden" th:name="search" th:value="*{search}"/>

        </div>

    </select>

    <input type="submit" value="apply filter"/>
</form>

<a th:if="${page > 1}"
   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
   th:href="${urlBuilder.replaceQueryParam('start', page-1).toUriString()}">
    <button type="button" >previous</button>
</a>

<a th:if="${page < totalPages}"
   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
   th:href="${urlBuilder.replaceQueryParam('start', page+1).toUriString()}">
    <button type="button" >next</button>
</a>

<div sec:authorize="isAuthenticated()" th:if="${username}">
    <div align="right">
        <a th:href="@{/logout}">
            <button type="button"  th:text="Logout">Logout</button>
        </a>
    </div>
</div>

</body>
</html>