<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<div align="right">
    <a th:href="@{/}">
        <button type="button" >Home</button>
    </a>
</div>
<div >
    <form action="#" th:action="@{/save}"
          th:object="${post}" method="POST">

        <h2 >Write new post</h2>

        <div>
            <input type="text" th:field="*{title}" placeholder="Title"/>
        </div>

        <div >
            <textarea  cols="100" rows="50" th:field="*{content}" placeholder="content"/></textarea>
        </div>


        <input type="hidden" th:field="*{author}"/>
        <div th:object="${tag}" >

            <input type="text" th:field="*{name}" placeholder="add tags"/>

        </div>

        <div >
            <input type="submit" class="btn btn-primary btn-block" value="Save"/>
        </div>
    </form>
</div>

<div th:if="${post.id}">
    <div >
        <form action="#" th:action="@{'/post/{id}'(id=${post.id})}" th:method="delete">
            <div >
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit"  th:text="Delete">Delete</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>