<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Post</title>
</head>
<body>
  <div>
      <h1 th:text="${post.title}">Title</h1>
      <div th:text="'Created: ' + ${#dates.format(post.createdAt, 'dd-MMM-yyyy')} + ' by '">Created by</div>
      <div><a th:text="${post.author}">User</a></div>
      <!--      <div><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a></div>-->

      <table>
          <thead>
          <tr>
              <th> Tags </th>
          </tr>
          </thead>
          <tbody>

          </tr>
          <tr th:each="tag : ${post.tags}">
              <td><span th:text="${tag.name}"> Title </span></td>
          </tr>
          </tbody>
      </table>

      <h3 th:text="${post.content}">Body</h3>

  </div>
</body>
</html>